{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
<h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur,
        delectus dolorem earum et explicabo laudantium libero, magnam modi nam nisi non
        quidem recusandae rerum sunt veniam voluptas voluptatibus. Dolores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur,
        delectus dolorem earum et explicabo laudantium libero, magnam modi nam nisi non
        quidem recusandae rerum sunt veniam voluptas voluptatibus. Dolores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur,
        delectus dolorem earum et explicabo laudantium libero, magnam modi nam nisi non
        quidem recusandae rerum sunt veniam voluptas voluptatibus. Dolores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur,
        delectus dolorem earum et explicabo laudantium libero, magnam modi nam nisi non
        quidem recusandae rerum sunt veniam voluptas voluptatibus. Dolores?
    </p>
{% endblock %}